.container {
  height: 500px;
  background-color: #588500;
  color: white;
  text-align: center; /* Describes how inline contents of a block are horizontally aligned if the contents do not completely fill the line box */

  text-decoration: underline wavy blue; /* Decorations applied to font used for an element's text. */
  line-height: 200px; /*Determines the block-progression dimension of the text content area of an inline box */
  font-family:
    "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /*Specifies a prioritized list of font family names or generic family names. A user agent iterates through the list of family names until it matches an available font that contains a glyph for the character to be rendered */
  text-transform: uppercase; /*Controls capitalization effects of an element's text.*/
  font-size: 35px; /*Indicates the desired height of glyphs from the font. For scalable fonts, the font-size is a scale factor applied to the EM unit of the font. (Note that certain glyphs may bleed outside their EM box.) For non-scalable fonts, the font-size is converted into absolute units and matched against the declared font-size of the font, using the same absolute coordinate space for both of the matched values */
  font-weight: 900; /* Specifies weight of glyphs in the font, their degree of blackness or stroke thickness */
  font-variant: small-caps; /* Specifies variant representations of the font */
  font-kerning: normal; /* Kerning is the contextual adjustment of inter-glyph spacing. This property controls metric kerning, kerning that utilizes adjustment data contained in the font */
  text-align: justify; /* Describes how inline contents of a block are horizontally aligned if the contents do not completely fill the line box */
  letter-spacing: 10px; /* Specifies the minimum, maximum, and optimal spacing between grapheme clusters */
}
